.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
database/*.sqlite
database/*.sqlite-journal
.phpunit.result.cache
phpstan.neon
tests
docs
*.md
!README.md
terminals
.idea
.vscode
